h1, h2, h3 {
	margin-bottom: 12px;
}

h2 {
	border-bottom: 1px solid #eee;
}

.hidden {
	display: none;
}

.prettyprint {
	overflow: scroll;
	padding: 8px !important;
	border-radius: 2px;
	border: 1px solid #CCC !important;
}

header {
	padding-top: 32px;
	margin-bottom: 24px;
}

header h1 {
	margin-bottom: 12px;
	font-size: 48px;
	line-height: 1;
}

nav {
	background: #fafafa;
	margin: 0 0 24px 0;
}

nav ul {
	border: 1px solid #eee;
	border-radius: 4px;
}

nav ul li a:hover {
	background: none !important;
}

nav a {
	color: #777;
	text-shadow: 0 1px 0 #fff;
}

.subnav-fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1020;
	border-bottom: 1px solid #eee;
	box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
}

.subnav-fixed ul {
	margin: 0 auto;
	border: 0;
}

#vanilla-menu .has-children {
	cursor: pointer;
	color: #005580;
}

#accordion {
	list-style: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

#accordion li {
	border-radius: 4px;
	border: 1px solid #eee;
	padding: 8px; 
	margin: 8px;
	cursor: pointer;
}

#accordion .expanded-menu {
	margin: 0;
	padding: 0;
	border: 0;
}

#accordion .expanded-menu ul {
	padding: 0;
	margin: 0;
}

#accordion .expanded-menu ul li {
	border-top: 0;
	margin-top: -10px;
	border-radius: 0;
	cursor: default;
}

#accordion li {
	list-style: none;
}

footer {
	border-top: 1px solid #eee;
	padding-top: 12px;
	margin-top: 24px;
	text-align: center;
	background: rgb(250, 250, 250);
	padding: 24px;
}

footer .left {
	float: left;
}

footer .twitter-count-horizontal {
	float: left;
	width: 120px !important;
}

footer #___plusone_0 {
	float: right;
	margin-top: 2px !important;
}

footer .right {
	float: right;
}